{% extends 'layout1.html' %}

{% block css %}
<style>
    small{
        color: blanchedalmond;
        margin: auto 10px;
    }
    body{
        background-color: beige;
    }
    .single-card-tab {
        height: 65vh;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    #frgt{
        color: #122175;
    }
    #frgt:link{
        text-decoration: none;
        margin: auto 10px;
    }
    #frgt:hover{
        text-decoration: underline;
    }
    .phtext{
        color: #333;
    }

    .login-card {
        padding: 50px 100px;
    }
</style>
{% endblock %}

{% block spin_login %}<span class="spinner-grow spinner-grow-sm"></span>{% endblock %}

{% block body %}
<br><br>
<div class="container-md">
    <!-- <div class="row  row-col-2" style="margin: 50px;">
        <div class="col">
            <div class="card">
                <div class="card-body bg-info text-light single-card-tab rounded" style="padding: 50px 100px;">
                    <form method="POST" name="changepassword">
                        <div class="h3 mb-3 font-weight-normal text-center">Login</div><hr>
                        <div class="form-group">
                            <label for="newpass">Enter New Password</label>
                            <input type="password" class="form-control" name="newpass" id="newpass" placeholder="Enter New Password" required> <!-- onblur="checknewpass()" required - ->
                        </div>
                        <div class="form-group">
                            <label for="confpass">Confirm Password</label>
                            <input type="password" class="form-control" name="confpass" id="confpass" placeholder="Confirm Password" required> <!-- onblur="checkconfpassword()" required - ->
                            <small class="form-text">Password must contain an uppercase alphabet, a lowercase alphabet, a digt and a special character!</small>
                        </div>
                        <button class="btn btn-danger col-sm-6 rounded-pill" onsubmit="return checkequality()">Save</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body bg-light text-dark single-card-tab rounded" style="padding: 50px 100px;">
                    <form method="post" class="text-center">
                        <div id="get" class="h3 mb-3 font-weight-normal text-center">Not Registered Yet? </div><hr>
                        <a href="/register"><button type="button" class="btn btn-success col-sm-6 text-center rounded-pill">Register Now</button></a>
                    </form>
                </div>
            </div>
        </div>
    </div> -->
    <div class="row justify-content-md-center" style="margin: 50px;">
        <div class="col-6">
            <div class="bg-dark text-light rounded login-card" >
                <form method="POST" name="forgotpassword">
                    <div class="h3 mb-3 font-weight-normal text-center">Change Password</div><hr>
                    <div class="form-floating mb-2">
                        <input type="password" class="form-control form-elem" name="newpass" id="newpass" placeholder="New Password" required>
                        <label class="phtext" for="newpass">New Password</label>
                    </div>
                    <div class="form-floating mb-2">
                        <input type="password" class="form-control form-elem" name="confpass" id="confpass" placeholder="C+onfirm Password" required>
                        <label class="phtext" for="confpass">Re-Enter Password</label>
                    </div>
                    <button class="btn btn-danger col-sm-6 rounded-pill">Save</button>
                </form><br>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
    
    function checknewpass()
    {
        var regex=/^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*]).{8,}$/i ;
        var np=document.getElementById('newpass').value;
        if(np!="")
        {
            if(!regex.test(np))
            {
                document.getElementById('newpass').style.border="2px solid red";
                document.getElementById('newpass').value="";
            }
        }
        document.body.focus();
    }
    function checkconfpassword()
    {
        var regex=/^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*]).{8,}$/i ;
        var pass=document.getElementById('confpass').value;
        if(pass!="")
        {
            if(!regex.test(pass))
            {
                document.getElementById('confpass').style.border="2px solid red";
                document.getElementById('confpass').value="";
            }
        }
        document.body.focus();
    }
    function checkequality()
    {
        var c=document.getElementById('confpass').value;
        var n=document.getElementById('newpass').value;
        if(n == c)
        {
            alert('Password Match!');
            return true;
        }
        else
        {
            alert('Password Did Not Match');
            return false;
        }
    }
</script>
{% endblock %}