{% extends "dashboard.html" %}

{% block prediction %}
<div id="pred_display" style="display: flex;">
    <div class="container" style="display: block;">
        <div class="row mt-5" style="background-color: #333; color: beige;">
            <div class="col-md-8 p-3">
                <form method="POST" enctype="multipart/form-data" class="ml-3">
                    <h3>Transaction Details</h3><br>
                    <div class="form-floating mb-2">
                        <input type="number" class="form-control form-elem" name="disp_type" id="disp_type" placeholder="Transaction Amount" value="{{ data[''] }}">
                        <label class="phtext" for="disp_type">Transaction Amount</label>
                    </div>
                    <div class="form-floating mb-2">
                        <input type="number" class="form-control form-elem" name="disp_amt" id="disp_amt" placeholder="Transaction Amount" value="{{ data[''] }}">
                        <label class="phtext" for="disp_amt">Transaction Amount</label>
                    </div>
                    <div class="form-floating mb-2">
                        <input type="text" class="form-control form-elem" name="disp_nameOrig" id="disp_nameOrig" placeholder="Source Account" value="{{ data[''] }}">
                        <label class="phtext" for="disp_nameOrig">Source Account</label>
                    </div>
                    <div class="form-floating mb-2">
                        <input type="number" class="form-control form-elem" name="disp_oldbalanceOrg" id="disp_oldbalanceOrg" placeholder="Old Balance" value="{{ data[''] }}">
                        <label class="phtext" for="disp_oldbalanceOrg">Source Account Old Balance</label>
                    </div>
                    <div class="form-floating mb-2">
                        <input type="number" class="form-control form-elem" name="disp_newbalanceOrig" id="disp_newbalanceOrig" placeholder="New Balance" value="{{ data[''] }}">
                        <label class="phtext" for="disp_newbalanceOrig">Source Account New Balance</label>
                    </div>
                    <div class="form-floating mb-2">
                        <input type="text" class="form-control form-elem" name="disp_nameDest" id="disp_nameDest" placeholder="Destination Account" value="{{ data[''] }}">
                        <label class="phtext" for="disp_nameDest">Destination Account</label>
                    </div>
                    <div class="form-floating mb-2">
                        <input type="text" class="form-control form-elem" name="disp_oldbalanceDest" id="disp_oldbalanceDest" placeholder="Old Balance" value="{{ data[''] }}">
                        <label class="phtext" for="disp_oldbalanceDest">Destination Account Old Balance</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control form-elem" name="disp_newbalanceDest" id="disp_newbalanceDest" placeholder="New Balance" value="{{ data[''] }}">
                        <label class="phtext" for="disp_newbalanceDest">Destination Account New Balance</label>
                    </div>
                    <button id="predict" type="submit" class="btn btn-primary px-3 rounded-5" style="margin-left: 40%;">Predict</button>
                </form>
            </div>
            <div class="col-md-4 data-entry-image"></div>
        </div>
    </div>
</div>
{% endblock prediction %}