{% extends 'layout1.html' %}

{% block css %}
<style>
    small{
        color: blanchedalmond !important;
        margin: auto 10px;
    }
    body{
        background-color: beige;
    }
    .single-card-tab {
        height: 65vh;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    #frgt{
        color: #122175;
    }
    #frgt:link{
        text-decoration: none;
        margin: auto 10px;
    }
    #frgt:hover{
        text-decoration: underline;
    }
    .phtext{
        color: #333;
    }

    .login-card {
        padding: 50px 100px;
    }
</style>
{% endblock %}

{% block spin_login %}<span class="spinner-grow spinner-grow-sm"></span>{% endblock %}

{% block body %}
<br><br>
<div class="container-md">
    {% if message %}
    <div class="row" style="margin: 10px 70px -30px;">
        <div class="col-sm-12 alert alert-danger" role="alert">
            {{ message }}
        </div>
    </div>       
    {% endif %}
    <div class="row justify-content-md-center" style="margin: 50px;">
        <div class="col-6">
            <div class="bg-dark text-light rounded login-card" >
                <form method="POST" name="forgotpassword">
                    <div class="h3 mb-3 font-weight-normal text-center">Forgot Password</div><hr>
                    <div class="form-floating mb-2">
                        <input type="email" class="form-control form-elem" name="receiver" id="receiver" placeholder="User Email" required>
                        <label class="phtext" for="receiver">User Email</label>
                    </div>
                    <div class="form-floating mb-2">
                        <input type="password" class="form-control form-elem" name="admin_pass" id="admin_pass" placeholder="Company Email Password" required>
                        <label class="phtext" for="admin_pass">Company Email Password</label>
                        <small class="form-text">To be Entered by the ADMIN ONLY!</small>
                    </div>
                    <button class="btn btn-danger col-sm-6 rounded-pill">Get OTP</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}