{% extends 'layout.html' %}

{% block css %}
<style>
    .single-card-tab {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
</style>
{% endblock %}

{% block spin_register %}<span class="spinner-grow spinner-grow-sm"></span>{% endblock %}

{% block body %}
<br><br>
<div class="container-md">
    {% if message %}
    <div class="row" style="margin: 50px 70px -30px;">
        <div class="col-sm-12 alert alert-{{ alert }}" role="alert">
            {{ message }}
        </div>
    </div>       
    {% endif %}
    <div class="row  row-col-2" style="margin: 50px;">
        <div class="col">
            <div class="card sticky-top" style="top: 100px;">
                <div class="card-body bg-info text-light single-card-tab rounded" style="padding: 50px 100px; height: 65vh;">
                    <form method="POST" class="text-center">
                        <div class="h3 mb-3 font-weight-normal text-center">Already Registered? </div><hr>
                        <a href="/login"><button type="button" class="btn btn-danger col-sm-6 text-center rounded-pill">Login Now</button></a>
                    </form>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body bg-light text-dark single-card-tab rounded" style="padding: 50px 100px; height: 140vh">
                    <form method="post">
                        <div class="h3 mb-3 font-weight-normal text-center">Register</div><hr>
                        <div class="btn-group" data-toggle="buttons" style="float: right;">
                            <label class="btn btn-success">
                                <input type="radio" name="isadmin" id="isadmin" autocomplete="off" onchange="chooseaccess()" value="Admin" {% if ma==False %} disabled {% else %} required {% endif %}>Admin
                            </label>
                            <label class="btn btn-success active">
                                <input type="radio" name="isadmin" id="isuser" autocomplete="off" onchange="chooseaccess()" value="User" required>User
                            </label>
                            <input type="text" class="form-control" id="access" name="access" style="width: 200px; height: 40%;">
                        </div><br><br>
                        <div class="form-group">
                            <label for="firstname">First Name</label>
                            <input type="text" class="form-control" name="firstname" id="firstname" placeholder="Enter First Name" onblur="checkfname()" required>
                        </div>
                        <div class="form-group">
                            <label for="lastname">Last Name</label>
                            <input type="text" class="form-control" name="lastname" id="lastname" placeholder="Enter Last Name" onblur="checklname()" required>
                        </div>
                        <div class="form-group">
                            <label for="register_username">Username</label>
                            <input type="text" class="form-control" name="register_username" id="register_username" placeholder="Enter Username" onblur="checkuname()" required>
                        </div>
                        <div class="form-group">
                            <label for="mobile">Mobile</label>
                            <input type="text" class="form-control" name="mobile" id="mobile" placeholder="Enter Mobile Number" onblur="checkmobile()" required>
                        </div>
                        <div class="form-group">
                            <label for="register_email">Email</label>
                            <input type="email" class="form-control" name="register_email" id="register_email" placeholder="Enter Email" onblur="checkemail()" required>
                        </div>
                        <div class="form-group">
                            <label for="register_password">Password</label>
                            <input type="password" class="form-control" name="register_password" id="register_password" placeholder="Enter Password" onblur="checkpassword()" pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*]).{8,}" required>
                        </div>
                        <div class="form-group">
                            <label for="register_confirm">Confirm Password</label>
                            <input type="password" class="form-control" name="register_confirm" id="register_confirm" placeholder="Confirm Password" onblur="confirmpassword()" required>
                        </div>
                        <button class="btn btn-success col-sm-6 rounded-pill">Sign Up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
    function chooseaccess()
    {
        var a=document.getElementById('isadmin');
        var u=document.getElementById('isuser');
        var t=document.getElementById('access');
        if(a.checked === true)
            t.value = a.value;
        else if(u.checked === true)
            t.value = u.value;
        alert(t.value);
    }
    function checkfname()
    {
        var regex=/^[a-zA-Z]+$/
        var fname=document.getElementById('firstname').value;
        if(fname!="")
        {
            if(!regex.test(fname))
            {
                document.getElementById('firstname').style.border="thin solid red";
                document.getElementById('firstname').value="";
            }
        }
        document.body.focus();
    }
    function checklname()
    {
        var regex=/^[a-zA-Z]+$/
        var lname=document.getElementById('lastname').value;
        if(lname!="")
        {
            if(!regex.test(lname))
            {
                document.getElementById('lastname').style.border="thin solid red";
                document.getElementById('lastname').value="";
            }
        }
        document.body.focus();
    }
    function checkuname()
    {
        var regex=/^[a-zA-Z0-9]+$/
        var uname=document.getElementById('register_username').value;
        if(uname!="")
        {
            if(!regex.test(uname))
            {
                document.getElementById('register_username').style.border="thin solid red";
                document.getElementById('register_username').value="";
            }
        }
        document.body.focus();
    }
    function checkmobile()
    {
        var regex=/^[6-9][0-9]{9}$/
        var mob=document.getElementById('mobile').value;
        document.getElementById('mobile').style.border="none";
        if(mob!="")
        {
            document.getElementById('mobile').style.border="0px";
            if(!regex.test(mob))
            {
                document.getElementById('mobile').style.border="thin solid red";
                document.getElementById('mobile').value="";
            }
        }
        document.body.focus();
    }
    function checkemail()
    {
        var regex=/^[A-Z0-9._%+-]+@([A-Z0-9-]+\.)+[A-Z]{2,4}$/i ;
        var mail=document.getElementById('register_email').value;
        if(mail!="")
        {
            if(!regex.test(mail))
            {
                document.getElementById('register_email').style.border="thin solid red";
                document.getElementById('register_email').value="";
            }
        }
        document.body.focus();
    }
    function checkpassword()
    {
        var regex=/^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*]).{8,}$/i ;
        var pass=document.getElementById('register_password').value;
        if(pass!="")
        {
            if(!regex.test(pass))
            {
                document.getElementById('register_password').style.border="thin solid red";
                document.getElementById('register_password').value="";
            }
        }
        document.body.focus();
    }
    function confirmpassword()
    {
        var pass=document.getElementById('register_password').value;
        var cpass=document.getElementById('register_confirm').value;
        if(cpass!="")
        {
            if(pass != cpass)
            {
                document.getElementById('register_confirm').style.border="thin solid red";
                document.getElementById('register_confirm').value="";
                alert("Password Did Not Match!");
            }
            else
            document.getElementById('register_confirm').style.border="none";
        }
        document.body.focus();
    }
</script>
{% endblock %}